@model IEnumerable<Navette.Models.line>
@{
    ViewBag.Title = "ViewLines";
    Layout = "~/Views/Shared/_Traveller_layout.cshtml";
}
<link href="~/Content/Style/Provider_index.css" rel="stylesheet" />
<div class="Lines">
    @ViewBag.lineid
    <h2>Your home page</h2>

    @if (Model is null)
    {
        <h3>
            @ViewBag.no_lines
            Click @Html.ActionLink("Here", "CustomRequest") to make a custom request.
        </h3>
    }
    else
    {
        <table id="lines">
            <tr>
                <th>
                    Departure Location
                </th>
                <th>
                    Departure Time
                </th>
                <th>
                    Arrival Location
                </th>
                <th>
                    Estimated Arrival Time
                </th>
                <th>
                    Weekly
                </th>
                <th>
                    Day
                </th>
            </tr>
            @foreach (var line in Model)
            {
                @Html.BeginForm()
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => line.departure_location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => line.departure_time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => line.arrival_location)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => line.estimated_arrival_time)
                        </td>
                        <td>
                            @if (line.weekly == true)
                            {
                                <p>Yes</p>
                            }
                            else
                            {<p>No</p>
                            }

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => line.day)
                        </td>
                        <td>
                            @Html.ActionLink("Subscribe", "Subscribe", new {id=line.id }, null)
                                 
                           @* <input type="submit" id="LineId" value="Subscribe" class="btn btn-default" /> *@
                        </td>
                    </tr>
                }
            }

        </table>
    }
</div>